@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.activ{
    font-weight: 700;
}

.continer{
    margin: auto;
    width: calc(100% - 120px);
    
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 6666px;
    background-color: #eee;
}
header{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
    padding: 20px 0;
    background: #FFF;
    box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.10);

}
header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
header .logo svg{
    width: 40px;
    height: 38px;
    flex-shrink: 0;
}
header .logo a{
    color: #545BE8;
}
header .nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
header .nav ul li a{
    color: #000000; 
}
header .auth{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
header .auth a{
    padding: 5.354px 20.181px;
    border-radius: 15px;
    font-family: Inter;
    font-size: 15px;
    display: flex;
    align-items: center;
}
header .auth .login{
    color:#5458E8 ;
    border: 2px solid #5458E8;
}
header .auth .Register{
    background-color: #5458E8;
    color: #fff;
}
.Des{
    padding: 40px 0;
    background-color: #FFF;

}
.find{
    padding: 40px 0;
}
.find .row{
    gap: 30px;

}
.find .right{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: calc( (100% - 30px) / 2);
    gap: 30px;
    flex-wrap: wrap;
}
.find .right p:nth-child(1){
    color: #545BE8;
    font-family: Inter;
}
.find .right h2:nth-child(2){
    color: #141E32;
    font-family: Poppins;
    font-size: 60px;
}
.find .right h2 span{
    color: #545BE8;
}
.find .right p:nth-child(3){
    color: #969696;
    font-family: Poppins;
}
.find .play{
    display: flex;
    gap: 30px;
}
.find a{
    background-color: #545BE8;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
}
.find .ico{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.ico svg{
    width: 40px;
    height: 40px;

}
.ico span{
    color: #141E32;
    align-items: center;
}
.find .right img{
    width: 400px;
    height: 400px; 
}
.from{
    padding: 60px 0;
    background-color: #fff;
}
.from .row{
    display: flex;
}
.from-left p:nth-child(1){
    color: #545BE8;
    font-family: Inter; 
}
.from-left h2:nth-child(2){
    color: #141E32;
    font-family: Poppins;
    font-size: 40px;
}
.from-left p:nth-child(3){
    color: #969696;
    font-family: Poppins;
}
.from-right{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
.from-right .from-us{
    border-radius: 15px;
    background-color: #5458E8;
    padding: 10px 15px;
    width: 240px;
    height: 240px;
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.from-right .form-us:hover{
    transform: scale(1.1);
}
.from-us svg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    box-sizing: content-box;
}
.from-us h3{
    color: #FFF;
    font-family: Inter; 
}
.from-us p{
    font-size: 15px;
    color: #DDD;
    font-family: Poppins; 
}
.from-sec{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.from-last{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: right;
}
.from-last svg{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #F0C932;
}
.Taking{
    padding: 40px 0;
    background: linear-gradient(180deg, #545BE8 0%, #272DB0 100%);
}
.Taking .row{
    gap: 30px;
}
.Taking .take{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: calc( (100% - 30px) / 2);
    gap: 30px;
    flex-wrap: wrap;
}
.take img{
    width: 400px;
    height: 400px; 
}
.take p:nth-child(1){
    color: #F0C932;
    font-family: Inter; 
}
.take h2:nth-child(2){
    color: #FFF;
    font-family: Poppins; 
    font-size: 40px;
}
.take p:nth-child(3){
    color: #DDD;
    font-family: Poppins; 
}
.takes{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    text-align: center;
}
.take-item h2{
    color: #F0C932;
    font-family: Inter; 
    font-size: 18px;
    font-weight: 700;
}
.take-item nav a{
    color: #DDD;
    font-family: Inter; 
    font-size: 13px;
    font-weight: 700; 
}
.Courses{
    padding: 40px 0;
}
.Courses .row{
    gap: 30px;
    align-items: stretch;
}
.Courses .Course-item{
    width: calc((100% - 30px ) / 2);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Course img{
    width: 100%;
    aspect-ratio: 135.09/99.079;
    filter: brightness(50%);
    display: flex;
}
.Course{
    width: calc((100% - 30px ) / 2);
    background-color: #fff;
}
.Course-card{
    position: relative;
}
.Course-info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between ;
    padding: 20px;
    align-items: flex-start;
    color: #FFF;
}
.Course-info span:first-of-type{
  background-color:  #545BE8;
  padding: 10px;
}
.Course-info span:last-of-type{
    align-self: flex-end;
}
.Course-detalis{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Course-detalis .row:last-of-type{
    justify-content: flex-start;
    color: #969696; 
}
.Course-detalis .views{
    color: #545BE8;
}
.Course-description{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: calc( (100% - 30px) / 2);
    gap: 30px;
    flex-wrap: wrap;
}
.Course-description p:nth-child(1){
    color: #545BE8;
    font-family: Inter;
}
.Course-description h2:nth-child(2){
    color: #141E32;
    font-family: Poppins;
    font-size: 40px;
}
.Course-description p:nth-child(3){
    color: #969696;
    font-family: Poppins;
}
.Course-description a{
    background-color: #545BE8;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 10px;
    color: #FFF;
    font-family: Inter;
}
.ter {
    padding: 20px;
    color: var(--Dark-color, #0D1222);
    text-align: center;
    background: #FFF;  
}
.Testimonials{
    padding: 40px 0; 
    background: #FFF; 
}
.Testimonials .row{
    gap: 40px;
}
.testimonial{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--White-color, #FFF);
    box-shadow: 0px 6.33658px 6.33658px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    width: calc((100% - 40px ) / 2);
    position: relative;
    
}
.testimonial::after{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: 0;
    border-top: 30px solid #F4F4F4ed;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #F4F4F4;

}

.user-info{
    display: flex;
    gap: 15px;
    align-items: center;
}
.user-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.user-info h3{
    font-size:15px;
}
.user-data span{
    color: var(--Medium, #969696);
    font-size: 10px;
}
.user-info img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.rating{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
q{
    color: var(--Medium-Dark, #646464);
}
footer{
    padding: 50px 0;
    background-color: #393E46;
    color: #fff;
}
.foter .row{
    gap: 40px;
    align-items: center;
}
.foter_left,.foter_right{
    width: calc( (100% - 40px) / 2);
}
.foter_left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}
.foter .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-inline-start: 
}
footer .logo svg{
    width: 40px;
    height: 38px;
    flex-shrink: 0;
}

footer a{
    color: #fff;
    font-size: 14px;
}
footer .icon{
    display: flex;
    gap: 10px;
}
footer .icon svg{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 10px;
    box-sizing: content-box;
}
footer .foter_right{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}
.foter_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 60px) / 4);
}
.foter_item nav{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}